Expose the http parameters, including https, e.g. certificate authority (ca) in auth config

### Describe the problem you'd like to have solved

It would be most useful if it would be possible to set a custom certificate authority for the openid https requests.

### Describe the ideal solution

One way could be to expose http (including https) parameters in the config
similar to the way it is done e.g. in the package got that exposes all "options", including https options...
https://github.com/sindresorhus/got/blob/main/documentation/2-options.md

Alternatively by using something similar to the node built-in createSecureContext Options
see https://nodejs.org/api/tls.html#tlscreatesecurecontextoptions

Hi @hcjehg - thanks for raising this

Could you not do this for the whole Node process rather than just the SDK? Something like https://stackoverflow.com/questions/29283040/how-to-add-custom-certificate-authority-ca-to-nodejs

If you still want to do this just for the SDK, could you explain how you would do this using `got`?

Hello @adamjmcgrath 
I'm creating a system in which I use 3 different trusts (PKIs) for different purposes, most my own, and none are based on Public Trust, and none of them can trust the others (hence the separation) :-) ...

I will now need to add a 4th, non public, for oidc :-)

With got it is simple, through the "Advanced HTTPS API", see
https://github.com/sindresorhus/got/blob/main/documentation/5-https.md

This example reads the Certificate Authority Certificate from the file ./my_ca.pem the crls from my_crls.pem and uses that particular CA and crls while making this specific connection to https://example.com permitting only use of the two specific ciphers...

import got from 'got';
// Single Certificate Authority
await got('https://example.com', {
	other_configurations:        
	https: {
		certificateAuthority: fs.readFileSync('./my_ca.pem'),
		crl: fs.readFileSync('./my_crls.pem'),
		ciphers: ['ECDHE-RSA-AES128-GCM-SHA256', 'TLS_CHACHA20_POLY1305_SHA256'],
	}
});

Also note the got API permits you to connect to an IP address and detail the host name (used in the Certificate Validation process as in RFC 5280 Section 6) as well as custom crl's. This provides a very very flexible library.

Also check out https://nodejs.org/api/tls.html#tls_tls_createsecurecontext_options

Hi @hcjehg - sorry for the delay getting back to you

We plan to update openid-client to v5 at some point, which doesn't use got. Is there an option we can expose from https://nodejs.org/api/https.html#httpsrequestoptions that will enable you to achieve what you want to do?

Hello @adamjmcgrath  - sorry for my late reply :-)

From https://nodejs.org/api/https.html#httpsrequestoptions

I guess if you expose the Option Object, that would do the trick, as (from https://nodejs.org/api/https.html#httpsrequestoptions-callback):

1) Accepts all options from [http.request()](https://nodejs.org/api/http.html#httprequestoptions-callback)
2) The following additional options from [tls.connect()](https://nodejs.org/api/tls.html#tlsconnectoptions-callback) are also accepted: ca, cert, ciphers, clientCertEngine, crl, dhparam, ecdhCurve, honorCipherOrder, key, passphrase, pfx, rejectUnauthorized, secureOptions, secureProtocol, servername, sessionIdContext, highWaterMark.

This would permit modification of e.g. the ca, certs to present to server, specific crl's and souch. At first look, this options object is the same object exposed from got :-)

HC

Sorry for my delay in responding, this is on my radar - but since we don't have other requests for this level of http customisation for this specific middleware rather than just the whole node stack, I don't think we're going to prioritise this.

Happy to consider a PR - If you consider a PR, take into account http options that can be supported if/when this sdk moves to native fetch.